.MenuGauche {
    -fx-background-radius: 0px 15px 15px 0;
}

.Corp, .CentreCarte{
    -fx-background-radius: 15px;
}

.EvenementsBas{
    -fx-background-radius: 0px 0px 15px 15px;
}

.EvenementsHaut{
    -fx-background-radius: 15px  15px 0px 0px;
}

.H1 {
    -fx-font-family: Carlito;
    -fx-font-size: 36px;
}

.VboxMenuSaisie {
    -fx-margin: 10 0 10 0;
}

.MenuSaisie {
    -fx-text-fill: #a3a3a3;
    -fx-border-radius: 7px;
    -fx-border-color: #bcbcbc;
    -fx-background-color: #bcbcbc;
    -fx-pref-width: 220px;
}

.TexteSaisie {
    -fx-font-family: Carlito;
    -fx-font-size: 24px;
}

#Bienvenue {
    -fx-font-family: Carlito;
    -fx-font-style: Italic;
    -fx-font-size: 64px;
}

#CoordonneMenu {
    -fx-padding: 10px;
}