.MenuGauche {
    -fx-background-radius: 0px 15px 15px 0;
}

.Corp {
    -fx-background-radius: 15px;

}

.VboxMenuSaisie {
    -fx-margin: 10 0 10 0;
}

.MenuSaisie {
    -fx-text-fill: #a3a3a3;
    -fx-border-radius: 7px;
    -fx-border-color: #bcbcbc;
    -fx-background-color: #bcbcbc;
}